{{ $content_type := .Params.content_type }}

{{ $aboutPage := .Site.GetPage $content_type }}

<div class="row w-100 justify-content-center">
    <img class="rounded-circle  " src="images/{{ $aboutPage.Params.profile_picture }}" alt="profile_picture" id="profile_picture" />
</div>


{{ if $aboutPage.Params.full_name }}
<div class=" row w-100 justify-content-center main_color" id="full_name">
    {{ $aboutPage.Params.full_name }}
</div>
{{end}}

{{ if $aboutPage.Params.affiliations }}
<div class="affiliations row w-100 justify-content-center">
    <div class="row w-100 justify-content-center">
        {{ range $key, $value := $aboutPage.Params.affiliations }}
        <div class="row w-100 justify-content-center" id="title-name">
            <span class="main_color" id="title">
                {{$value.affiliation.title}},
            </span>
            <span id="name" class="text-muted">
                {{$value.affiliation.name}}
            </span>
        </div>
        <div class="row w-100 justify-content-center text-muted" id="email">
            {{$value.affiliation.email}}
        </div>


        {{ end }}
    </div>
</div>
{{end}}

<style>
    .separator {
        margin: 0 10px; /* Adjust for space between the links and the separator. */
        display: inline-block; /* Keeps the vertical alignment consistent. */
    }

    @media (max-width: 480px) {
        .separator {
            display: none; /* Hide the separator on smaller screens. */
        }
    }
</style>

<div class="socials row w-100 justify-content-center">
    <div class="col-sm-12 col-md-10 text-center"> <!-- Adjust the responsive classes as needed -->
        <a id="blog_logo_members" class="main_color d-block d-md-inline" href='/blog/members'>
            <i class="ai ai-2x ai-blog academic_icons_customize">Lab Members</i>
        </a>
        <span class="separator">|</span>
        <a id="blog_logo_intro" class="main_color d-block d-md-inline" href='/blog/labintro'>
            <i class="ai ai-2x ai-blog academic_icons_customize">Lab Intro</i>
        </a>
    </div>
</div>


{{if $aboutPage.Content }}
<div class="introduction row w-100 text-justify">
    <div class="col w-100">
        {{$aboutPage.Content}}
    </div>
</div>
{{end}}
